/* Style file */

@font-face {
    font-family: selectorFont;
    src: url(./font/Persona_Aura.otf);
}

@keyframes AnimateGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 200%;
  }
}

body {
    background: white url('img/paperTexture.jpg') repeat left top;
    animation: AnimateGradient 60s linear infinite;
}

.charBtn {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin: 4px;
    padding: 0;
    height: 64px;
    width: 64px;
}

.charBtn > img {
    filter: grayscale(1);
}

.charBtn > img:hover, .charBtn > img:active {
    filter: grayscale(0);
}

.halfWidth {
    width: 50%;
    padding: 0;
    margin: 0;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(250, 247, 213, 0.85) 36%, rgba(222, 215, 248, 0.85) 64%);
}

#charDisplay {
    position: relative;
    height: calc(75% - 16px);
    margin: 0;
    padding: 8px;
    text-align: center;
    display: flex;
}

#charDetails {
    text-align: right;
}

#selector {
    height: calc(25% - 16px);
    margin: 0;
    padding: 8px;    
}

#charPortrait {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin-left: 8%;
    margin-right: auto;
}

#charName {
    position: inherit;
    font-family: selectorFont;
    background: linear-gradient(90deg,rgb(23, 136, 102) 0%, rgb(6, 107, 114) 100%);
    background-clip: text;
    color: transparent;
    font-size: 56px;
    z-index: 2;
}

#charSuperlative {
    position: inherit;
    font-family: selectorFont;
    background: linear-gradient(90deg,rgb(10, 87, 64) 0%, rgb(3, 69, 73) 100%);
    background-clip: text;
    color: transparent;
    font-size: 36px;
    z-index: 2;
    padding-left: 24px;
}